* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.background {
    background-color: #D6DBD6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-top {
    height: 10vh;
    width: 100vw;
    background-color: #019688;
    position: fixed;
}

.container {
    height: 95vh;
    width: 80vw;
    background-color: #ECEDED;
    display: flex;
}

.sidebar {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.topbar-sidebar, .topbar-main {
    /* background-color: rgba(255, 0, 0, 0.5); */
    /* background-color: #ECEDED; */
    height: 80px;
    padding: 7px 7px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar-chat {
    height: 70px;
    width: 100%;
    /* background-color: rgba(255, 0, 0, 0.25); */
    /* border: 1px solid black; */
    background-color: #f1f1f1;
    padding: 7px 7px;
    display: flex;
}

.avatar-name .last-text {
    font-size: 14.5px;
}

.avatar-info {
    display: flex;
}

.avatar-img {
    height: 100%;
    border-radius: 50%;
}

.avatar-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}

.avatar-name .name {
    font-weight: 600;
    font-size: 20px;
}

.avatar-name .last-seen {
    font-size: 13px;
}

.topbar-icons {
    display: flex;
    align-items: center;
}

.topbar-icons i {
    color: #6a7a7e;
    font-size: 30px;
    padding-left: 15px;
}

.main-container {
    width: calc(100% - (100% / 3));
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-content {
    height: 100%;
}

.main-chat {
    background: url('../img/mine.jpg');
    height: 100%;
}