/* LAYOUT */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

/* FINE LAYOUT */

.background {
    background-color: #0e151a;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-top {
    height: 10vh;
    width: 100vw;
    background-color: #019688;
    position: fixed;
}

.container {
    height: 95vh;
    width: 80vw;
    background-color: #2a2f32;
    display: flex;
    border-radius: 10px;
}

/* SIDEBAR */

.sidebar {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #30383d;
}

.topbar-sidebar {
    border-top-left-radius: 10px;

}

.topbar-main {
    border-top-right-radius: 10px;
}

.topbar-sidebar, .topbar-main {
    height: 80px;
    padding: 15px 15px;
    background: #2a2f32;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar-chat {
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #30383d;
    background-color: #131c21;
    padding: 15px 15px;
    display: flex;
}

.sidebar-chat:hover {
    background-color: #323739;
}

.sidebar-chat.active {
    background-color: #323739;
}

.searchbar-sidebar {
    height: 51px;
    background-color: #131c21;
    border-bottom: 1px solid #30383d;

    display: flex;
    justify-content: center;
    align-items: center;
}

input.write-search {
    width: 95%;
    height: 80%;
    border: none;
    border-radius: 30px;
    padding-left: 15px;
    background: #33383b;
    font-size: 16px;
}

/* FINE SIDEBAR */

/* MAIN */
/* BARRA AVATAR E NOME */
.avatar-name .last-text {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.75);
}

.avatar-info {
    display: flex;
}

.avatar-img {
    height: 100%;
    border-radius: 50%;
}

.avatar-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}

.avatar-name .name {
    font-weight: 600;
    font-size: 18px;
}

.avatar-name .last-seen {
    font-size: 13px;
}

.topbar-icons {
    display: flex;
    align-items: center;
}

.topbar-icons i {
    color: #b1b3b5;
    font-size: 20px;
    padding: 0 10px;
}

.undo-icon {
    display: flex;
    align-items: center;
    display: none;
}

.undo-icon i {
    color: #b1b3b5;
    font-size: 20px;
    padding: 0 10px;
    margin-right: 10px;
}
/* FINE BARRA AVATAR E NOME */

.main-container {
    width: calc(100% - (100% / 3));
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-content {
    height: 100%;
    background: #131c21;
    border-top-right-radius: 10px;
    display: none;
}

.main-content.active {
    display: block;
}

.main-chat {
    background: url('../img/bg-chat.png');
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    padding: 15px 50px;
}

.message-baloon, .message-baloon {
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    font-size: 17px;
    margin-bottom: 10px;
}

.sent {
    align-self: flex-end;
    background: #056162;
}

.received {
    align-self: flex-start;
    background: #262d31;
}

.main-chat .message-hour {
    padding-left: 20px;
    font-size: 12px;
    opacity: 0.75;
    padding-right: 1px;
}

/* FINE MAIN */

/* FOOTER */

.main-footer {
    height: 80px;
    background-color: #1e2428;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-right-radius: 10px;
    padding: 10px 20px;
}

.main-footer i {
    font-size: 25px;
    color: #828689;
}

input.write-chat {
    width: 90%;
    height: 90%;
    border: none;
    border-radius: 30px;
    padding-left: 20px;
    background: #33383b;
    font-size: 16px;
}

/* FINE FOOTER */

/* MEDIA QUERY */

@media screen and (max-width: 1100px) {
    .container {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }

    .sidebar {
        display: none;
        width: 100vw;
        height: 100vh;
    }

    .sidebar.active {
        display: flex
    }

    .main-container {
        width: 100%;
        height: 100%;
    }

    .main-container.inactive {
        display: none;
    }
    .main-container.active {
        display: flex;
    }

    .topbar-sidebar {
        border-radius: 0;
    }

    .undo-icon {
        display: flex;
    }
  }

/* FINE MEDIA QUERY */